.chevLeft,
.chevRight {
  height: 10rem;
  width: 10rem;
  stroke: black;
  stroke-width: $chevsStrokeWidth;
  fill: transparent;
  cursor: pointer;
  transition: all 0.3s;

  filter: url('#drop_shadow');

  &:hover {
    fill: url('#crosshatch');
    transform: scaleY(1.1);
  }
  &:active {
    fill: rgba(black, 1);
    transform: scaleX(1.1);
  }
}

.chevLeft {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.chevRight {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
