.chevLeft,
.chevRight {
  position: fixed;
  top: 45vh;

  z-index: 1000;
  height: 10rem;
  width: 10rem;
  stroke: black;
  stroke-width: $chevsStrokeWidth;
  fill: transparent;
  cursor: pointer;
  transition: all 0.3s;

  filter: url('#drop_shadow');
}

.chevLeft {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  left: 0;

  .chev__text {
    font-size: 2rem;
    font-weight: normal;
    transform: rotate(90deg) translateX(65%);
    transition: all 0.2s;
    opacity: 0.5;
  }

  &:hover {
    fill: url('#chev_left_pat');
    transform: scaleY(1.1);
    .chev__text {
      opacity: 1;
    }
  }

  &:active {
    fill: rgba(black, 1);
    transform: scaleX(1.1);
  }
}

.chevRight {
  grid-column: 3 / 4;
  grid-row: 2 / 3;

  right: 0;

  .chev__text {
    font-size: 2rem;
    font-weight: normal;
    transform: rotate(-90deg) translateX(-215%) translateY(-65%);
    transition: all 0.2s;
    opacity: 0.5;
  }

  &:hover {
    fill: url('#chev_right_pat');
    transform: scaleY(1.1);
    .chev__text {
      opacity: 1;
    }
  }

  &:active {
    fill: rgba(black, 1);
    transform: scaleX(1.1);
  }
}
