.footer {
  position: relative;
  z-index: 50;
  grid-column: 1 / -1;
  justify-self: stretch;
  align-self: stretch;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  border-top: 1px solid darken($colorPrimary, 10%);
  background-color: $footerHeaderBg;

  font-size: 2rem;
  color: lighten(#000, 20%);

  &__socials {
    display: flex;
  }
  &__social {
    color: gray;
    transition: all 0.2s;
  }
  &__social:hover {
    color: black;
    transform: scale(1.1);
  }
  &__social:active {
    color: darken(gray, 20%);
    transform: scaleY(0.9) scaleX(1.1);
  }
  &__social:not(:last-child) {
    margin-right: 1rem;
  }
}
