.header {
  grid-column: 1 / -1;
  justify-self: stretch;

  font-size: 3.5rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-content: center;
  align-items: center;

  .menu__btn {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 5rem;
    height: 5rem;
    fill: transparent;
    stroke: black;
    align-self: center;
    justify-self: end;
    cursor: pointer;
    margin-right: 5rem;
    transition: all 0.2s;

    filter: url('#drop_shadow');

    &:hover {
      fill: url('#crosshatch');
      transform: scaleY(1.1);
    }
    &:active {
      fill: rgba(black, 0.7);
      transform: scaleY(0.9);
    }
  }

  .menu__wrapper {
    justify-self: end;
    filter: drop-shadow(0 0 1px black);
    transition: all $menuTimeout;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  &__menu {
    display: flex;

    justify-self: end;
    justify-content: flex-end;

    padding-left: 5rem;

    list-style: none;

    transition: all $menuTimeout;
    background: $colorPrimary;
    clip-path: polygon(100% 0%, 100% 100%, 10% 100%, 0% 50%, 10% 0%);

    .-active {
      text-decoration: underline;
    }
  }

  &__item {
    padding: 1rem;
  }

  &__logo {
    padding: 2rem;
    text-decoration: none;
    margin-right: auto;
  }

  &__link {
    text-decoration: none;
  }
}

.logo {
  fill: transparent;
  stroke: black;
  stroke-width: $logoStrokeWidth;
  height: 7rem;
  width: 7rem;
  transition: all 0.3s;

  filter: url('#drop_shadow');

  &:hover {
    fill: url('#crosshatch');
    transform: scale(1.1);
  }
  &:active {
    fill: rgba(black, 1);
    transform: scaleX(0.9);
  }
}

.go-enter {
  transform: translateX(100%);
  opacity: 0;
}
.go-enter-active {
  opacity: 1;
  transform: translateX(0);
}
.go-exit {
  opacity: 1;
  transform: translateX(0);
}
.go-exit-active {
  opacity: 0;
  transform: translateX(100%);
}
