.skills {
  height: 100%;

  grid-column: 2 / 3;
  justify-self: stretch;
  align-self: center;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 3fr;

  justify-items: center;

  & > h1 {
    align-self: end;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
