.skills {
  height: 100%;

  grid-column: 2 / 3;
  justify-self: stretch;
  align-self: center;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(40vh - 10rem) 1fr;

  padding: 2rem;
  row-gap: 2rem;

  justify-items: center;

  & > h1 {
    align-self: end;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
