.skills {
  grid-column: 2 / 3;
  justify-self: stretch;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  // transition: all 1s;

  & > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
