$fontMain: 'Cabin Sketch', cursive;
$colorPrimary: #eee;
$logoStrokeWidth: 1px;
$chevsStrokeWidth: 1px;
$menuTimeout: 0.3s;

// media queries breakpoints
$bp-big: 50em; // 800px / 16px
$bp-medium: 37.5em; // 600px / 16px
